<footer class="text-muted">
    <nav class="fixed-bottom navbar-expand-sm">
        <div class="container">
            <div class="py-2">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
            </div>
            <p>NodeJS, Express, Mustache. 2019</p>
        </div>
    </nav>
</footer>
</body>

</html>