<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title> <!-- вставка из свойства title-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <h1>{{title}}</h1> <!-- вставка из свойства title-->
    <div id="contener">
        <a href="/widgets">
            <strong>Example work with Express and Mustache</strong>
        </a>
    </div>
</body>

</html>