<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h3>Регистрация нового пользователя</h3>
    <form action='/register' method='post'>
        <label>Имя: </label><input type='text' name='name' required></input>
        <label>Email: </label><input type='email' name='email' required></input>
        <label>Пароль: </label><input type='password' name='password' required></input>
        <input type='submit' />
    </form>
</body>
</html>